{%extends "registration/base.html"%} {% load bootstrap3 %}
{% block content %}
<style>
    body{
      background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPAHRTihU2k2L8fY3QVFB0OKqEGq10lI3q8dGS_CwCF8uxhZfq');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      
    }


</style>
<div class="container">
  <div class="row">
   
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if form.errors %}
        <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center">Sign Up</h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/register/" method="post">
            {% csrf_token %}
            {% bootstrap_form form layout="inline"%}
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>

      </div>

    </div>
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <p>Have an account? <span><a class="" href="/accounts/login">Login</a></span></p>
      </div>
    </div>
  </div>
  
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}